.DS_Store
_ngo
_xmsgs
*.html
*.bgn
*.bit
*.bld
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.syr
*.unroutes
*.xpi
*.xwbt
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.txt
*.xml
*.xst
*.log
xst
xlnx_auto_0_xdb
*.swp
.svn
*.swo
*.cf
*.vcd
